html,body{
    height: 100%
}

#logo {
	width: 150px;
 	height: 196px;
 	padding-left: 4px;
 	padding-top: 4px;
}

#bottom {
	padding-bottom: 0px;
	vertical-align: bottom;
	height: 100%;
}

.header {
	background-color: #041e42;
	border-color: #041e42;
	border-bottom: 1px solid white;
	border-radius: 0px 0px 0px 0px;
	color: white;
	padding: 1px;
	height: 205px;
}

#club-name {
	vertical-align: middle;
	/*font: Foundry Sterling;*/
	font-size: 40px;
	margin-top: 80px;
}

@media (max-width: 1199px) {
  #club-name {
  	text-align: center;
  	margin-top: 60px;
  }
}

@media (max-width: 414px) {
  #club-name {
    font-size: 33px;
    margin-top: 25px;
    margin-left: 45px;
  }
}

@media (max-width: 320px) {
  #club-name {
    font-size: 25px;
    margin-top: 45px;
    margin-left: 60px;
  }
}

.wrap {
    min-height: -webkit-calc(100% - 388px);     /* Chrome */
    min-height: -moz-calc(100% - 388px);     /* Firefox */
    min-height: calc(100% - 388px);     /* native */
}

.footer {
    position: relative;
    clear: both;
	background-color: #041e42;
	border-color: #041e42;
	border-radius: 0px 0px 0px 0px;
	color: white;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 5px;
}


.footer .footer-copyright {
	margin-top: 5px;
}

.my-row {
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.heading-top {
    margin-top: 0px;
}

p {
    text-align: justify;
}
