/* all map containers must be full height */
html, body, .container-fluid, .row, .map { 
	height: 100%;
}
.slider{
	border: 1px solid #041e42;
	width: 100%;
	height: 500px;
	background-image: url('../Pictures/team.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-color: #041e42;
	margin-bottom: 25px;
}
.slider h1 {
	color: #ffec00;
	position: relative;
	margin: auto;
	vertical-align: middle;
	text-align: right;
	font-size: 70px;
	line-height: 800px;
}

#map-canvas {
	width: 100%;
  height: 500px;
}

#chart-div {
	width: 100%;
  height: 500px;
}

#logo {
	width: 150px;
 	height: 196px;
 	padding-left: 4px;
 	padding-top: 4px;
}

#bottom {
	padding-bottom: 0px;
	vertical-align: bottom;
	height: 100%;
}

.header {
	background-color: #041e42;
	border-color: #041e42;
	border-bottom: 1px solid white;
	border-radius: 0px 0px 0px 0px;
	color: white;
	padding: 1px;
	height: 205px;
	width: 100%;
}
#club-name {
	text-align: center;
	vertical-align: middle;
	/*font: Foundry Sterling;*/
	font-size: 40px;
}
#header-table {
	height: 198px;
	width: 100%;
}

.footer {
	background-color: #041e42;
	border-color: #041e42;
	border-radius: 0px 0px 0px 0px;
	color: white;
	padding: 1px;
	width: 100%;
}

.footer .footer-body {
	height: 100px;
}

.footer .footer-copyright {
	padding-left: 4px;
}


