<div class="container">
    <div class="row my-row">
        <h3 class="heading-top">Current Committee</h3>
    </div><!--/row-->
    <div class="row my-row" ng-repeat="committeeRow in committeeRows">
        <div class="col-sm-3" ng-repeat="member in committeeRow">
            <div class="panel panel-custom">
                <div class="panel-body" id="profile-body">
                    <img src="pictures/{{member.picture}}" class="profile">
                    <h3 class="profile-name">{{member.name}}</h3>
                    <h4 class="profile-name">{{member.role}}</h4>
                </div><!--/panel-body-->
                <div class="panel-footer" id="profile-footer">
                    <p>
                        <b>Email:</b> <br> 
                        <a href="mailto:{{member.email}}">{{member.email}}</a><br>
                        <b>College:</b> {{member.college}}
                    </p>
                </div><!--/panel-footer-->
            </div><!--/panel-->
        </div><!--/col-->
    </div><!--/row-->
    <div class="row my-row">
        <h3 class="heading-top">Previous Committees</h3>
        <div class="committee-container">
            <table class="committee">
                <thead>
                    <tr>
                        <td><b>Year</b></td>
                        <td><b>President</b></td>
                        <td><b>Secretary</b></td>
                        <td><b>Treasurer</b></td>
                        <td><b>IT/Webmaster</b></td>
                        <td><b>Social secretary</b></td>
                        <td><b>Captain</b></td>
                        <td><b>Kit officer</b></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='committee in oldCommittees'>
                        <td>{{committee.year}}</td>
                        <td>{{committee.president}}</td>
                        <td>{{committee.secretary}}</td>
                        <td>{{committee.treasurer}}</td>
                        <td>{{committee.itOfficer}}</td>
                        <td>{{committee.socialSecretary}}</td>
                        <td>{{committee.captain}}</td>
                        <td>{{committee.kitOfficer}}</td>
                    </tr>
            </tbody>
            </table>
        </div><!--/committee-container-->
        <br>
        <ul>
            <li>Michal Bock - Novice Captain in 2014/5</li>
            <li>Sebastian Leptihn - Senior Member in 2009/0</li>
            <li>Amy Tregunna - Vice President in 2007/8</li>
        </ul>        
    </div><!--/row-->
</div><!--/container-->
